{
  "printWidth": 120,
  "semi": false,
  "bracketSpacing": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false,
  "overrides": [
    {
      "files": "**/*.json",
      "options": {
        "printWidth": 240
      }
    }
  ]
}
